main{

    .parrafo-menu{
    text-align: center;
    font-size: 1.15rem;
    margin: 2rem
    }
.div-img-mapa {
    text-align: center;
    .img-mapa {
        width: 60%;
        margin: 3rem;
        border-radius: 2%;
        box-shadow: 0 1px 8px;
        height: 700px;

    }
}
}